In [21]:
import numpy as np
import scipy.sparse as sp
embed_image = np.load('../data/books/embed_image.npy')
print("Dimension des embeddings des images",embed_image.shape)

embed_text = np.load('../data/books/embed_text.npy')
print("Dimension des embeddings des textes",embed_text.shape)

Dimension des embeddings des images (33962, 1024)
Dimension des embeddings des textes (33962, 1024)

In [22]:
import pandas as pd
items = pd.read_csv('../data/books/items.txt') 
m = len(items)
print(f'{m} items dans le dataset')
users = pd.read_csv('../data/books/users.txt')
n = len(users)
print(f'{n} users dans le dataset')

33962 items dans le dataset
14790 users dans le dataset

In [5]:
import json
# Convertion des fichiers txt en json pour faciliter la manipulation avec le modèle
# load the data
train = pd.read_csv('../data/books/train.txt')
test = pd.read_csv('../data/books/test.txt')
validation = pd.read_csv('../data/books/validation.txt')

train_dict = {}
test_dict = {}
validation_dict = {}

train_ids = train['user'].unique()
test_ids = test['user'].unique()
validation_ids = validation['user'].unique()

# Des boucles legères  
for user_id in range(n):
    train_dict[str(user_id)] = []
for user_id in range(len(test_ids)):
    test_dict[str(user_id)] = []
for user_id in range(len(validation_ids)):
    validation_dict[str(user_id)] = []
    
for index, row in train.iterrows():
    user_id = row['user']
    item_id = row['item']
    train_dict[str(user_id)].append(int(item_id))

for index, row in test.iterrows():
    user_id = row['user']
    item_id = row['item']
    test_dict[str(user_id)].append(int(item_id))

for index, row in validation.iterrows():
    user_id = row['user']
    item_id = row['item']
    validation_dict[str(user_id)].append(int(item_id))

NameError: name 'data_dict' is not defined

In [6]:
with open('../data/books/train.json', 'w') as f :
    json.dump(train_dict, f)

with open('../data/books/test.json', 'w') as f :
    json.dump(test_dict, f)

with open('../data/books/validation.json', 'w') as f :
    json.dump(validation_dict, f)

In [9]:
books = pd.read_csv('../data/books/Books.csv',sep=';')
books.shape

,ISBN,Title,Author,Year,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton & Company

In [17]:
items = pd.read_csv('../data/books/items.txt')
# adding title column ( dataframes are not equal)
titles = books.loc[books['ISBN'].isin(items['ISBN'])]
titles

,ISBN,Title,Author,Year,Publisher
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
6,0425176428,What If?: The World's Foremost Military Histor...,Robert Cowley,2000,Berkley Publishing Group
10,0771074670,Nights Below Station Street,David Adams Richards,1988,Emblem Editions
14,1558746218,A Second Chicken Soup for the Woman's Soul (Ch...,Jack Canfield,1998,Health Communications
...,...,...,...,...,...
235407,0312927339,Red Cloud's Revenge: Showdown on the Northern ...,Terry C. Johnston,1995,St. Martin's Press
240546,0553560557,Vixen,Jane Feather,1994,Bantam Books
243216,0330353349,The Ice House (TV Tie-In Edition),Minette Walters,1997,McClelland & Stewart
243940,0394758250,The Lady in the Lake (Vintage Crime/ Black Liz...,Raymond Chandler,1992,Vintage Books USA
247695,0373120486,"Baby Verdict (Expecting) (Harlequin Presents, ...",Cathy Williams,1999,Harlequin

In [19]:
items_titles = pd.merge(items, titles[["ISBN","Title"]], on='ISBN')
items_titles

             ISBN  item_id                                              Title
0      0385094787        0                                Archy and Mehitabel
1      0886773083        1  The Shattered Chain (Darkover: The Renunciates...
2      0373710291        2  Cowboy For Clementine (Home On The Ranch) (Har...
3      0802135838        3          Patient: The True Story of a Rare Illness
4      0684834553        4       Vineyard Blues : A Martha's Vineyard Mystery
...           ...      ...                                                ...
33958  0373708343    33957  Don'T Mess With Texans  (By The Year 2000:  Re...
33959  0345421884    33958                                       Dragonshadow
33960  0380731991    33959                    Cereus Blooms at Night: A Novel
33961  0517580497    33960               Plains of Passage (Earth's Children)
33962  0446677469    33961  Rich Dad's Guide to Investing: What the Rich I...

[33963 rows x 3 columns]

In [38]:
import pandas as pd
books = pd.read_csv('../data/books/items_with_attributes.csv',sep=';')
books

,Title,Year,Author,Genres,Language,item_id
0,Archy and Mehitabel,1970,Don Marquis,"Comedy, Poetry",English,0
1,The Shattered Chain (Darkover: The Renunciates...,1988,Marion Zimmer Bradley,"Science fiction , Fantasy",English,1
2,Cowboy For Clementine (Home On The Ranch) (Har...,2001,Susan Floyd,"Romance , Western",English,2
3,Patient: The True Story of a Rare Illness,1998,Ben Watt,"Autobiographical novel , Health and Fitness",English,3
4,Vineyard Blues : A Martha's Vineyard Mystery,2000,Philip R. Craig,"Mystery, Fiction",English,4
...,...,...,...,...,...,...
33957,Don'T Mess With Texans (By The Year 2000: Re...,1999,Peggy Nicholson,"Romance , Fiction",English,33957
33958,Dragonshadow,2000,Barbara Hambly,"Fantasy , Adventure",English,33958
33959,Cereus Blooms at Night: A Novel,1999,Shani Mootoo,"Fiction , Drama",English,33959
33960,Plains of Passage (Earth's Children),1990,Jean M. Auel,"Fiction , Prehistoric Fiction",English,33960
33961,Rich Dad's Guide to Investing: What the Rich I...,2000,Robert T. Kiyosaki,"Business, Finance",English,33961

In [11]:
import pandas as pd
import json
with open('../data/books/train.json', 'r') as f:
    train = json.load(f)
df = pd.read_csv("../data/books/items_with_attributes.csv",sep=';')
import numpy as np

In [12]:
# create a function that convert the train dict to a dok matrix 
from scipy.sparse import dok_matrix
def convert_dict_to_dok(dict_, n, m):
    dok = dok_matrix((n,m), dtype=np.int8)
    for user_id, items in dict_.items():
        for item_id in items:
            dok[int(user_id), int(item_id)] = 1
    return dok
# test the function
train_dok = convert_dict_to_dok(train, len(train), len(df))
train_dok

<14790x33962 sparse matrix of type '<class 'numpy.int8'>'
	with 317111 stored elements in Dictionary Of Keys format>

In [1]:
import json
import pandas as pd
with open('../data/books/test.json', 'r') as f:
    train = json.load(f)

In [2]:
# convert the dict to a data frame with two columns user_id and item_id (users while be repeated)
def convert_dict_to_df(dict_):
    df = pd.DataFrame(columns=['user_id', 'item_id'])
    for user_id, items in dict_.items():
        for item_id in items:
            # use concat to avoid the warning
            df = pd.concat([df, pd.DataFrame({'user_id': [int(user_id)], 'item_id': [int(item_id)]})])
    return df

In [3]:
train_df = convert_dict_to_df(train)

In [4]:
train_df

   user_id item_id
0        0   12457
0        1   25847
0        1    1776
0        1   14988
0        1   12668
..     ...     ...
0     5000    4925
0     5000    3533
0     5000   13370
0     5000    2684
0     5000   14074

[33106 rows x 2 columns]

In [5]:
train_df.to_csv('../data/books/test_df.csv', index=False)

In [ ]:
def matrix_to_tensor(numpy_matrix):
    sparse_tensor = torch.sparse_coo_tensor(torch.from_numpy(np.argwhere(numpy_matrix != 0).T),
                                            torch.from_numpy(numpy_matrix[np.nonzero(numpy_matrix)]),
                                            numpy_matrix.shape,dtype=torch.float32)
    return sparse_tensor


def csr_norm(csr_mat, mean_flag=False):  # TODO: check if this function exists in a python library
    rowsum = np.array(csr_mat.sum(1))
    rowsum = np.power(rowsum + 1e-8, -0.5).flatten()
    rowsum[np.isinf(rowsum)] = 0.
    rowsum_diag = sp.diags(rowsum)
    colsum = np.array(csr_mat.sum(0))
    colsum = np.power(colsum + 1e-8, -0.5).flatten()
    colsum[np.isinf(colsum)] = 0.
    colsum_diag = sp.diags(colsum)
    if mean_flag == False:
        return rowsum_diag * csr_mat * colsum_diag
    else:
        return rowsum_diag * csr_mat

In [58]:
import pandas as pd
data = pd.read_pickle('../data/netflix/train_mat')
data

<13187x17366 sparse matrix of type '<class 'numpy.float64'>'
	with 68933 stored elements in Compressed Sparse Row format>

In [14]:
data.shape

(13187, 1536)

In [6]:
data = pd.read_pickle('../data/netflix/augmented_total_embed_dict')

In [5]:
data["year"].shape

(17366, 1536)

In [9]:
import numpy as np 
embeddings_totaux = []
for i in range(len(list(data.values())[0])):
    total_embedding = np.zeros_like(list(data.values())[0][0])  # Initialisation de l'embedding total
    for key, value in data.items():
        total_embedding += value[i]  # Ajouter l'embedding de chaque attribut
    embeddings_totaux.append(total_embedding)

# Créer un DataFrame à partir des embeddings totaux
df = pd.DataFrame(embeddings_totaux, columns=range(1536))

In [46]:
# read .npz file
import numpy as np
data = np.load('../data/netflix/adjacency_matrix.npz')

In [47]:
# print dimension of the matrix
print(data)

NpzFile '../data/netflix/adjacency_matrix.npz' with keys: indices, indptr, format, shape, data

In [48]:
type(data)

numpy.lib.npyio.NpzFile

In [49]:
# Extraire les données nécessaires
import scipy.sparse as sp
indices = data['indices']
indptr = data['indptr']
shape = tuple(data['shape'])
data_sparse = data['data']
format_sparse = data['format']

# Créer une matrice creuse en utilisant les données extraites
embedding_total_sparse = sp.csr_matrix((data_sparse, indices, indptr), shape=shape)

In [50]:
embedding_total_sparse.shape

(30553, 30553)

In [51]:
embedding_total_sparse

<30553x30553 sparse matrix of type '<class 'numpy.float64'>'
	with 168419 stored elements in Compressed Sparse Row format>

In [59]:
coo = embedding_total_sparse.tocoo()
values = coo.data
indices = torch.LongTensor([coo.row, coo.col])
shape = torch.Size(coo.shape)
sparse_tensor = torch.sparse_coo_tensor(indices, values, shape)

In [53]:
coo = data.tocoo()

# Convert the row and column indices to a single NumPy array
indices = np.vstack((coo.row, coo.col))

# Convert the NumPy array to a PyTorch tensor
indices = torch.LongTensor(indices)

values = torch.FloatTensor(coo.data)
shape = torch.Size(coo.shape)
sparse_tensor = torch.sparse_coo_tensor(indices, values, shape)

In [54]:
sparse_tensor

tensor(indices=tensor([[    0,     0,     0,  ..., 30550, 30551, 30552],
                       [    0, 17942, 22253,  ..., 30550, 30551, 30552]]),
       values=tensor([0.1667, 0.1667, 0.1667,  ..., 1.0000, 1.0000, 1.0000]),
       size=(30553, 30553), nnz=168419, layout=torch.sparse_coo)

In [55]:
sparse_tensor.shape

torch.Size([30553, 30553])

In [56]:
# save the sparse tensor
torch.save(sparse_tensor, '../data/netflix/adjacency_matrix.pt')

In [60]:
import pandas as pd
data = pd.read_pickle('../data/netflix/train_mat')
data

<13187x17366 sparse matrix of type '<class 'numpy.float64'>'
	with 68933 stored elements in Compressed Sparse Row format>

In [61]:
coo = data.tocoo()

# Convert the row and column indices to a single NumPy array
indices = np.vstack((coo.row, coo.col))

# Convert the NumPy array to a PyTorch tensor
indices = torch.LongTensor(indices)

values = torch.FloatTensor(coo.data)
shape = torch.Size(coo.shape)
sparse_tensor = torch.sparse_coo_tensor(indices, values, shape)

In [62]:
sparse_tensor.shape

torch.Size([13187, 17366])

In [63]:
# save the sparse tensor
torch.save(sparse_tensor, '../data/netflix/train_matrix.pt')